@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Overpass';
}

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
    font-size: 15px;
    background-color: var(--VeryDarkBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hidden {
    display: none;
}

.card {
    background: radial-gradient(98.96% 98.96% at 50% 0%,
        #232a34 0%,
        #181e27 100%);
    border-radius: 25px;
    height: 375px;
    width: 350px;
}

.container {
    padding: 1.7rem;
}

.star {
    width: 40px;
    height: 40px;
    background-color: var(--DarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.question {
    color: var(--White);
    font-size: 20px;
    margin-bottom: 1rem;
}

.start_desc {
    margin-bottom: 2rem;
    color: var(--MediumGrey);
    font-size: 13px;
}

.ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.ratings span {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--DarkBlue);
    border-radius: 50%;
    color: var(--LightGrey);
    cursor: pointer;
}

.ratings span:hover {
    color: var(--White);
    background-color: var(--Orange);
}

.submit-btn {
    width: 100%;
    color: var(--White);
    background-color: var(--Orange);
    border: none;
    border-radius: 2rem;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
}

.submit-btn:hover {
    color: var(--Orange);
    background-color: var(--White);
}

.end_section {
    text-align: center;
}

.select {
    background-color: var(--DarkBlue);
    width: 180px;
    margin: 1rem auto;
    color: var(--Orange);
    font-size: 15px;
    padding: 10px;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

h2 {
    color: var(--White);
    margin-bottom: 0.7rem;
}

.end_desc {
    color: var(--MediumGrey);
    font-size: 13px;
}

.checked {
    color: var(--White) !important;
    background-color: var(--Orange) !important;
}